.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card:hover h2 {
  color: red;
}

.btn {
  display: none;
  position: absolute;
  top: 250px;
}

.card:hover .btn {
  display: flex;
  background: #191919;
  color: #fff;
  border-radius: 40px;
  padding: 6px 17px;
  cursor: pointer;
}

.card .car-photo img {
  width: 240px;
  height: 180px;
  object-fit: contain;
}

.car-model {
  margin: 0;
}

@media (max-width: 720px) {
  .card:hover h2 {
    color: inherit;
  }
  .card:hover .btn {
    display: none;
  }
  .card.btn {
    display: none;
  }
}
