.catalogue-container {
  display: flex;
  flex-direction: column;
  margin: 0 150px;
}

.cta-container {
  color: #373737;
  font-size: 34px;
  font-weight: 700;
}

.cards-container {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
  padding-bottom: 20px;
}

@media (max-width: 720px) {
  .cards-container {
    display: flex;
    flex-direction: column;
  }
  .catalogue-container {
    margin: 0;
  }
  .cta-container {
    font-size: 25px;
  }
  .cta-container h1 {
    padding: 0;
  }
}
