.filters-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #373737;
  font-size: 14px;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 75px;
}

.filter-options {
  display: flex;
  justify-content: space-between;
}

.filter-title {
  font-weight: 600;
}

.filter-list {
  margin-left: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.filter-list button {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 9px;
  background: transparent;
  border-radius: 18px;
  border-style: none;
  width: auto;
  height: 31px;
  cursor: pointer;
}

.filter-item.active {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 9px;
  background: #dddada;
  border-radius: 18px;
  border-style: none;
  width: auto;
  height: 31px;
}

@media (max-width: 720px) {
  .filter-list {
    display: none;
  }
  .filters-container {
    justify-content: space-around;
  }
}
