:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --swiper-theme-color: #474747;
  /* -webkit-text-size-adjust: 100%; */
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #191919;
}

@media (max-width: 720px) {
  html,
  body {
    width: unset;
    padding: 0 1px;
  }
}
